
.form-error-message{
  color:#d9534f;
}

.form-error-icon{
  background-color:#d9534f;
}

.fos_user_registration_register {
  max-width: 840px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
}